body {
    font: normal normal normal 12px/150% Arial, "宋体",Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.container {
    font-size:14px;
    width: 95%;
    height: auto;
    margin: 0px auto auto auto;
    padding: 0px;
    background: #FFFFFF;
}

.header {
    height: 80px;
    width: 100%;
    margin: 0px;
   border-bottom:groove;
}


.middleContainer {
    width: 100%;
    padding: 0px;
    margin: auto;
    min-height: 700px;
    height: 100%;
    _height: 700px;
}
.centerContainer{
    background-color:#b6ff00;
      width: 400px;
      margin: auto;
      height:400px;
}


.footer {
    height: 120px;
    width: 100%;
    border-top:groove;
    clear: both;
}
