a {
    text-decoration: none;
    color: #5f5f5f;
    display: inline-block;
    font-family: "Arial";
    font-size: 16px;
}

    a:hover {
        text-decoration: none;
        color: #5f5f5f;
        display: inline-block;
        font-family: "Arial";
        font-size: 16px;
    }

.resumeHeadImg {
    margin-top: 5px;
    border: none;
    width: 120px;
    height: 160px;
}

.resumeul {
    margin-left: 10%;
    width: 80%;
    height: 200px;
    list-style: none;
}

    .resumeul li {
        float: left;
        width: 150px;
        height: 240px;
        margin-left: 15px;
        margin-right: 15px;
    }

.searchContainer {
    width: 100%;
    height: 160px;
}

.search {
    margin-top: 80px;
    margin-left: 35%;
    width: 40%;
    height: 120px;
}

.searchText {
    width: 260px;
    height: 30px;
}

.login {
     margin: 0 auto;
    padding-top: 8%;
    height: 300px;
    width: 875px;
    display: block;
}

.loginInput {
    color: #787878;
    font-size: 13px;
    padding: 15px 0 15px 15px;
    width: 281px;
    margin-right:10px;
    margin-top:10px;
}
.loginInputSmall{
     color: #787878;
    font-size: 13px;
    padding: 15px 0 15px 15px;
    width: 80px;
     margin-right:10px;
    margin-top:10px;
}
.loginBtn{
    width:100px;
    height:45px;
    color: #ffffff;
    font-size: 15px;
    text-align:center;
    vertical-align:middle;
    line-height: 45px;
}
.loginBtn:hover{
    width:100px;
    height:45px;
    color: #ffffff;
    font-size: 15px;
     text-align:center;
     vertical-align:middle;
     line-height: 45px;
}
.enBtn{
    background-color: #2d57a1;
}
.disBtn{
    background-color:gray;
}