.textdiv{
    width:100%;
    height:50px;
     padding-left:40%;
    font-size:20px;
}
.headImgDiv{
     width:100%;
     height:130px;
     padding-left:40%;
     margin-top:8px;
}
.headimg{
   width:100px;
   height:120px;
   border:none;
}