body {
    font: normal normal normal 12px/150% Arial, "宋体",Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
p{
    margin:0px;
    padding:0px;
}
.container {
    font-size: 14px;
    width: 95%;
    height: auto;
    margin: 0px auto auto auto;
    padding: 0px;
    background: #FFFFFF;
}

.header {
    height: 80px;
    width: 100%;
    margin: 0px;
    border-bottom: solid;
    border-bottom-color: #2d57a1;
    border-bottom-width: 12px;
}

.headermenu {
    float: right;
}

    .headermenu li {
        float: left;
        list-style: none;       
        height: 60px;
        width: 120px;
        text-align:center;
        
    }

        .headermenu li a {
            margin-top:18px;
            text-decoration: none;
            color: #5f5f5f;
            display: inline-block;
            font-family: "Arial";
            font-size: 30px;
        }

.middleContainer {
    width: 100%;
    padding: 0px;
    margin: auto;
    min-height: 400px;
    height: 100%;
    _height: 400px;
}

.centerContainer {
    width: 400px;
    height: 400px;
    margin-left: 35%;
    padding-top: 200px;
}


.footer {
    height: 120px;
    width: 100%;
    border-top: solid;
    border-top-color: #2d57a1;
    border-top-width: 12px;
    clear: both;
}

    .footer a {
        text-decoration: none;
        color: #5f5f5f;
        display: inline-block;
        font-family: "Arial";
        font-size: 16px;
    }

        .footer a:hover {
            text-decoration: none;
            color: #5f5f5f;
            display: inline-block;
            font-family: "Arial";
            font-size: 16px;
        }

.footer_middle {
    margin-left: 30%;
}

    .footer_middle li.bor_right {
        border-right: 1px solid #5f5f5f;
        list-style: outside none none;
    }

    .footer_middle li {
        display: inline-block;
        height: auto;
        padding: 0 10px;
    }
